---
import ElementCard from "./ElementCard.astro";
import type { DiploiElement } from "./types";

const {
  result: { data },
} = await fetch(
  `${import.meta.env.API_URL||'https://console.diploi.com'}/api/trpc/stack.listPreviewComponents`
).then((response) => response.json());
if (!data || data.status !== "ok") {
  throw new Error(`Failed to load pricing (${data})`);
}

const addonList = data.components as DiploiElement[];
---

<h4>Add-ons available</h4>

<div class="flex gap-8 items-baseline flex-wrap">
  {
    addonList.map((addon) => {
      if (addon.type === "addon") {
        return <ElementCard element={addon} />;
      }
    })
  }
</div>
