---
import ElementCard from "./ElementCard.astro";
import type { DiploiElement } from "./types";

const addonList: DiploiElement[] = [
  { owner: "diploi", name: "Postgres", repo: "addon-postgres", released: true },
  { owner: "diploi", name: "Redis", repo: "addon-redis", released: true },
  { owner: "diploi", name: "Mongo", repo: "addon-mongo", released: true },
  { owner: "diploi", name: "MariaDB", repo: "addon-mariadb", released: true },
];
---

<h4>Add-ons available</h4>

<div class="flex gap-8 items-baseline flex-wrap">
  {addonList.map((addon) => <ElementCard element={addon} />)}
</div>
