---
import ElementCard from "./ElementCard.astro";
import type { DiploiElement } from "./types";

const {
  result: { data },
} = await fetch(
  `${import.meta.env.API_URL||'https://console.diploi.com'}/api/trpc/stack.listPreviewComponents`
).then((response) => response.json());
if (!data || data.status !== "ok") {
  throw new Error(`Failed to load pricing (${data})`);
}

interface Props { componentsToShow: string[] }

const {componentsToShow = []} = Astro.props

const componentList:DiploiElement[] = componentsToShow.length > 0 ? data.components.filter((c:DiploiElement) => componentsToShow.includes(c.name)) : data.components;
---

<h4>Components available</h4>

<div class="flex gap-8 items-baseline flex-wrap">
  {
    componentList.map((component) => {
      if (component.type === "component") {
        return <ElementCard element={component} />;
      }
    })
  }
</div>
