---
import ElementCard from "./ElementCard.astro";
import type {DiploiElement} from "./types"

const componentList: DiploiElement  [] = [
  { owner: "diploi", name:"Next.js",repo: "component-nextjs", released:true },
  { owner: "diploi", name:"React + Vite",repo: "component-react-vite", released:true },
  { owner: "diploi", name:"Node.js",repo: "component-nodejs", released:true },
  { owner: "diploi", name:"Bun",repo: "component-bun", released:true },
  { owner: "diploi", name:"Astro",repo: "component-astro", released:true },
  { owner: "diploi", name:"SvelteKit",repo: "component-sveltekit", released:true },
  { owner: "diploi", name:"Nue",repo: "component-nue", released:true },
  { owner: "diploi", name:"Django",repo: "component-django", released:true },
  { owner: "diploi", name:"Hono",repo: "component-hono", released:true },
  { owner: "diploi", name:"Spin",repo: "component-spin-framework", released:false },
  { owner: "diploi", name:"n8n",repo: "component-n8n", released:false },
];

---

<h4>Components available</h4>

<div class="flex gap-8 items-baseline flex-wrap">
    {componentList.map(component => (
      <ElementCard element={component}/>
    ))}
</div>
