---
import { Badge } from "@astrojs/starlight/components";
import { Image } from "astro:assets";
import type { DiploiElement } from "./types";

interface Props {
  element: DiploiElement;
}

const { element } = Astro.props;
---

<div class="flex gap-2">
  <Image
    src={`https://diploi.b-cdn.net/component/${element.owner}/${element.repo}/icon.svg?ref=main`}
    alt={element.repo}
    class="icon"
    width={28}
    height={28}
  />
  <strong class={`${!element.released && "text-yellow-100"}`}
    >{element.name}</strong
  >
  {!element.released && <Badge text="soon!" variant="tip" class="self-start" />}
</div>
