---
import type { DiploiElement } from "./types";
import { Badge } from '@astrojs/starlight/components';

interface Props {
  element: DiploiElement;
}

const { element } = Astro.props;
---

<div class="flex items-center gap-2">
  <img
    src={`${element.url}/blob/main/.diploi/icon.svg?raw=true`}
    alt={element.name}
    class="element-icon"
    width={28}
    height={28}
  />
  <strong>{element.name}</strong>
  { element.badge && (<Badge class="" text=`${element.badge}` variant="note"/>)}
</div>
